<main>
    <mat-card>
        <form>
            <!-- IMAGE PICKER -->
            <h5 style="padding-left: 5px">Add an Image</h5>
            <div>
                <button (click)="filePicker.click()" mat-stroked-button type="button">Pick Image</button>
                <input type="file" accept="image/*" #filePicker (change)="onImagePicked($event)" />
            </div>
            <!-- IMAGE PREVIEW -->
            <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview">
                <img [src]="imagePreview" />
            </div>
            <button style="margin-top: 1rem" mat-raised-button color="accent" (click)="onUploadImage()" type="button">Upload Image</button>
        </form>
    </mat-card>
</main>
